body {
	color: #fff;
	background-color: #111;
	margin: 0;
	padding: 0;
}

dialog {
	user-select: none;
	color: #fff;
	background-color: #151515;
}

button,
.button {
	cursor: pointer;
	border: 0;
	border-radius: 25px;
	color: inherit;
	background-color: #333;
	padding: 5px; /* Bigger buttons for mobile */
	margin-top: 0.1em; /* Small space above */

	/* Font reset */
	appearance: auto;
	font-style: unset;
	font-variant-ligatures: unset;
	font-variant-caps: unset;
	font-variant-numeric: unset;
	font-variant-east-asian: unset;
	font-variant-alternates: unset;
	font-variant-position: unset;
	/* font-variant-emoji: unset; */
	font-weight: unset;
	font-stretch: unset;
	font-size: unset;
	font-family: unset;
	font-optical-sizing: unset;
	font-size-adjust: unset;
	font-kerning: unset;
	font-feature-settings: unset;
	font-variation-settings: unset;
	font-language-override: unset;
	text-rendering: auto;
}

a {
	color: inherit;
	text-decoration: inherit;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

/* Form errors */
.error {
	color: red;
}

/*prettier-ignore */
@keyframes appear {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
/*prettier-ignore */
@keyframes blink {
		0% { opacity: 0.2; }
		100% { opacity: 1; }
	}

/* https://web.dev/articles/prefers-reduced-motion#(bonus)-forcing-reduced-motion-on-all-websites */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 1ms !important;
		transition-delay: 1ms !important;
	}
}
